.header{
    width: 100%;
    max-width: 1920px;
    padding: 0px 10px;
    margin: 0px auto;
    height: 720px;
    box-sizing: border-box;
    z-index: -1;
    background: url(../img/header.svg);
}
.aliexpress-logo{
    position: absolute;
    width: 455px;
    height: 105px;
    left: 0px;
    top: 270px;
    cursor: pointer;
    background: url(../img/Aliexpress_logo.svg);
}
.header-container{
    display: flex;
}
.address {
    display: flex;
}
.tel-block{
    display: flex;
    flex-direction: column;
}
.address__text{
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
}
.navigation{
    width: 100%;
}

.header-container__name{
    text-decoration: none;
    color: #000000;
    cursor: pointer;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700px;
    font-size: 48px;
    line-height: 56px;
    text-transform: uppercase;
    margin-right: 70px;
    font-weight: bold;
}
.header-container__name:active, .header-container__name:hover{
    transition-property: color;
    transition-duration: 2s;
    color: rgb(0, 255, 0);
}
.contact{
    display: flex;
    align-self: flex-end;
    margin-top: 20px;
    justify-content: space-between;
}
.tel{
    display: flex;
    margin-left: 75px;
    margin-right: 70px;
}
.tel__number{
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 8px;
}
.tel__email{
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}
.tel__number, .tel__email{
    text-decoration: none;
    color: black;
}
.logo-content-button{
    width: 271px;
    height: 60px;
    background: url(../img/button-2.svg);
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-content-button__text{
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
.logo__subtitle{
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 63px;
    text-transform: uppercase;
    align-self: center;
    color: #FFFFFF;
    cursor: pointer;
    margin-left:10px;
}
.logo-content__text{
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;

    color: #000000;
}
.logo{
    width: 589px;
    height: 320px;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

@media (max-width:1500px){
    .header{
        background: url(../img/1500/header.png);
    }

}
@media (max-width:1210px){
    .header{
        background: url(../img/1200/header.png);
    }
    .header-container__name{
        font-size: 30px;
    }
}
@media (max-width:1000px){
    .header{
        background: url(../img/1000/header.png);
    }
    .tel__number, .submit-elem__text{
        font-size: 15px;
    }
    .contact{
        align-self: center;
    }
    .submit-elem{
        width: auto;
        height: auto;
    }
    .submit-elem:after {
        content: "";
        position: absolute;
        height: 0px;
        width: 0px;
        right: -5px;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 5px solid black;
        border-radius: 7px;
    }
    .aliexpress-logo{
        top: 305px;
        background-color: rgb(247, 233, 29);
    }
    .logo-content__text{
        color: rgb(0, 0, 255);
    }
    .address__text, .tel__email, .tel__number{
        color: rgb(0, 0, 255);
    }
}
@media (max-width:800px){
    .header{
        background: url(../img/800/header.png);
    }
    .tel{
        margin: 10px 0px;
    }
    .contact{
        flex-direction: column;
        align-self: flex-start;
    }
    .logo__subtitle{
        font-size: 30px;
        align-self: start;
    }
    .aliexpress-logo{
        top: 385px;
        width: 288px;
        height: 76px;
        background: url(../img/500/Aliexpress_logo.svg);
        background-color: rgb(247, 233, 29);
    }
    .submit-elem{
        margin-left: 37px;
    }
    .address__text{
        margin-bottom: 0px;
    }
}
@media (max-width:691.5px){
    .aliexpress-logo{
        top: 407px;
    }
}
@media (max-width:640px){
    .header{
        background: url(../img/640/header.png);
    }

}
@media (max-width:500px){
    .header{
        background: url(../img/500/header.png);
    }
    .logo-content__text{
        font-size: 15px;
    }
}
@media (max-width:403.5px){
    .aliexpress-logo{
        top: 433px;
    }
}

/*
@media (max-width:1210px){
    .header{
        background: url(../img/1200/header.png);
    }

    .header-container__name{
        font-size: 38px;
        line-height: 56px;
        text-transform: uppercase;
    }
    .menu{
        flex-direction: column;
    }
    .contact{
        flex-direction: column;
        align-items: flex-end;
        align-self: flex-start;
        background-color: #f2ce6a;
        border-radius:10px;
    }
    .address, .submit-item{
        align-self: start;
    }
    .container_{
        width: 100%;
        margin: 0px auto;
        padding: 0px 0px;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        position: relative;
    }
    .tel{
        margin:10px 0px;
    }
    .aliexpress-logo{
        position: absolute;
        width: 455px;
        height: 105px;
        left: 0px;
        top: 425px;
        cursor: pointer;
        background: url(../img/Aliexpress_logo.svg);
    }
    .logo{
        width: 459px;
        height: 320px;
        margin-top: 0px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        background-color: #f2ce6a;
        border-radius:20px;
    }
     .logo__subtitle{
        align-self: flex-end;
        margin-right: 10px;
    }
}
@media (max-width:1000px){
    .header{
        background: url(../img/1000/header.png);
    }
    .logo__subtitle{
        font-size: 24px;
        align-self: center;
        margin-right: 70px;
    }
    .logo{
        width: 389px;
        height: 320px;
        margin-top: 0px;
        display: flex;
        justify-content: space-between;
        border-radius:20px;
    }
    .aliexpress-logo{
        position: absolute;
        width: 277px;
        height: 76px;
        left: 0px;
        top: 420px;
        cursor: pointer;
        background: url(../img/1000/Aliexpress_logo.svg);
    }
    .logo-content__text{
        font-size: 15px;
    }
  
}
@media (max-width:800px){
    .header{
        background: url(../img/800/header.png);
    }
}
@media (max-width:640px){
    .header{
        background: url(../img/640/header.png);
    }
    .logo{
        width: 289px;
        height: 320px;
        margin-top: 0px;
        display: flex;
        justify-content: space-between;
        border-radius:20px;
    }
    .logo__subtitle{
        margin-left: 35px;
        margin-right: 0px;
    }
}
@media (max-width:500px){
    .header{
        background: url(../img/500/header.png);

    }
    .logo__subtitle{
        margin-right: 95px;
    }
    .header-container{
        flex-direction: column;
    }
    .logo{
        width: 389px;
        height: 250px;
        margin-top: 0px;
        display: flex;
        justify-content: space-between;
        border-radius:20px;
    }
    .aliexpress-logo{
        position: absolute;
        width: 277px;
        height: 76px;
        left: 0px;
        top: 475px;
        cursor: pointer;
        background: url(../img/1000/Aliexpress_logo.svg);
    }
}
