.main-4{
    width: 100%;
    max-width: 1920px;
    padding: 0px 10px;
    margin: 0px auto;
    box-sizing: border-box;
    z-index: -1;
    background-color: #F5F5F5;
}
.main-4-fon{
    position: absolute;
    top: 180px;
    left: 350px;
    width: 520px;
    height: 582px;
    background: url(../img/main-4-fon.svg);
    margin-left: -50px;
}
.main-4-header{
    margin-top: 70px;
    margin-bottom: 650px;
}
.main-4-header__text{
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    color: #000000;
}
.main-4-content{
    display: flex;
    justify-content: space-between;
}
.main-4-content-left{
    width: 295px;
    border: 1px solid red;
    margin-top: 103px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.main-4-content-right{
    width: 465px;
}
.main-4-chislo-1{
    position: absolute;
    top: 541px;
    left: 310px;
    width: 62px;
    height: 62px;
    background: url(../img/chislo-1.svg);
}
.main-4-chislo-2{
    position: absolute;
    top: 266px;
    left: 310px;
    width: 62px;
    height: 62px;
    background: url(../img/chislo-2.svg);
}
.main-4-chislo-3{
    position: absolute;
    top: 160px;
    right: 500px;
    width: 62px;
    height: 62px;
    background: url(../img/chislo-3.svg);
}
.main-4-chislo-4{
    position: absolute;
    top: 395px;
    right: 325px;
    width: 62px;
    height: 62px;
    background: url(../img/chislo-4.svg);
}
.main-4-content-left__text-1, .main-4-content-left__text-2-end{
    margin-bottom: 215px;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    color: #000000;
    text-indent: 50px;
}
.main-4-content-left__text-2-end{
    margin-bottom: 0px;
}
.main-4-content-right__text{
    align-self: center;
}
.main-4-content-right__text-1{
    margin-bottom: 171px;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    padding-right: 100px;
}
.main-4-content-right__text-2-end{
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    padding-left: 155px;
}
.main-4-content-text-1{
    position: absolute;
    top: 540px;
    left: -40px;
    width: 327px;
    text-align: right;
}
.main-4-content-text-2{
    position: absolute;
    top: 265px;
    left: -40px;
    width: 327px;
    text-align: right;
}
.main-4-content-text-3{
    position: absolute;
    top: 155px;
    right: 130px;
    width: 327px;
}
.main-4-content-text-4{
    position: absolute;
    top: 395px;
    right: -20px;
    width: 327px;
}
@media (max-width:1210px){
    .main-4-chislo-1, .main-4-content-text-1{
        top: 160px;
        left: 0px;
    }
    .main-4-content-text-1, .main-4-content-text-2, .main-4-content-text-3, .main-4-content-text-4{
        background-color:rgb(184, 249, 170);
        border-radius: 15px;
    }
    .main-4-content-text-1{
        left: 85px;
        text-align: left;
    }
    .main-4-chislo-2, .main-4-content-text-2{
        top: 260px;
        left: 0px;
    }
    .main-4-content-text-2{
        left: 85px;
        text-align: left;
    }
    .main-4-chislo-3, .main-4-content-text-3{
        top: 360px;
        left: 0px;
    }
    .main-4-content-text-3{
        left: 85px;
    }
    .main-4-chislo-4, .main-4-content-text-4{
        top: 460px;
        left: 0px;
    }
    .main-4-content-text-2, .main-4-content-text-1, .main-4-content-text-3, .main-4-content-text-4{
        padding-left: 10px;
        text-align: center;
    }
    .main-4-content-text-4{
        left: 85px;
    }
}
@media (max-width:455px){
    .main-4-content-text-1, .main-4-content-text-2, .main-4-content-text-3, .main-4-content-text-4{
        font-size: 14px;
        width: 100%;
    }
    .main-4-content-text-1{
        left: 0px;
        top: 240px;
    }
    .main-4-chislo-2{
        top: 320px;
    }
    .main-4-content-text-2{
        left: 0px;
        top: 400px;
    }
    .main-4-chislo-3{
        top: 480px;
    }
    .main-4-content-text-3{
        top: 560px;
        left: 0px;
    }
    .main-4-chislo-4{
        top: 660px;
    }
    .main-4-content-text-4{
        top: 740px;
        left: 0px;
    }
    .main-4-header{
        margin-bottom: 750px;
    }
    .main-4-header__text{
        font-size: 25px;
    }
}