/*CSS - уровень 2 (сложные селекторы) - Задание 1*/
ul>li{
    color:blue;
}
p:target{
    color:red;
}
.red>li{
    color:red;
}
/*CSS - уровень 2 (сложные селекторы) - Задание 1*/


.red{
    color:red;
}
.blue{
    color:blue;
}
.gray{
    color:rgb(212, 221, 226);
}
.bold{
    font-weight: bold;
}
table{
    border: 3px solid red;
}
.table-radius{
    border-radius: 10px;
}
.tablle-red{
    color: red;
}