.red{
    color:red;
}
.blue{
    color:blue;
}
.gray{
    color:rgb(212, 221, 226);
}
.bold{
    font-weight: bold;
}
table{
    border: 3px solid red;
}
.table-radius{
    border-radius: 10px;
}
.tablle-red{
    color: red;
}