.content{
    display: flex;
    flex-wrap: wrap;
}
.public hr{
    width: 100px;
}
.public{
    text-align: center;
    font-family: Arial;
}
.public nav a{
    text-decoration: none;
    color: black;
    margin-top: 20px;
    margin-right: 15px;
}
.public nav span{
    margin-right: 15px;
}
.public nav{
    line-height: 45px;
}
.elem{
    margin: 5px;
}
.public-main{
    margin: 35px auto;
    width: 1200px;
}
.nav{
    list-style-type: none;
}
.aside-public-nav-menu{
    display: flex;
    justify-content: center;
}
.home-title-nav-menu__link,.aside-public-nav-menu__link{
    margin-right: 25px;
    text-decoration: none;
    color: black;
}
.home-title-nav-menu__elem,.aside-public-nav-menu__elem{
    list-style-type: none;
}
.home-title-nav-menu{
    display: flex;
    justify-content: center;
}
.home{
    text-align: center;
    padding: 30px 100px;
}
.home-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo{
    margin-top: 15px;
}
.main-heder{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.wrapper{
    width: 1500px;
    margin: 0px auto;
}
.box{
    display: flex;
    flex-direction: column;
}
.main-heder-name__company{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 5px;
}
.main-heder-name-set{
    margin-top: 50px;
}
a[href^="tel:"] {
    font-size: 16px;
    line-height: 32px;
    text-decoration: none;
    color: #000000;
}
a[href^="mailto:"] {
    font-size: 16px;
    line-height: 32px;
    color: #000000;
}
.main-content{
    display: flex;
    flex-wrap: wrap;
    padding-left: 200px;
}
.elem-card__text{
    font-weight:bold;
}
.card{
    display: flex;
    flex-direction: column;
    padding-bottom: 5%;
}
.elem-card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
figcaption{
    margin: 30px 0px;
}
.start{
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    
}
.end{
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
}
.row{
    display: flex;
    width: 210px;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 25px;
}
span{
    padding: 10px  0px;
}
.list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px 15px;
}
.footer-public{
    display: flex;
    justify-content: space-evenly;
}
.footer{
    display: flex;
    justify-content: space-evenly;
    height: 100px;
}
.footer-public-1, .footer-public-2, .footer-public-3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.home, .main, .aside, .footer{
    margin: 10px 50px;
}
.wrapper{
    width: 1570px;
}